<div class="d-flex justify-content-end mb-3">
  <a class="text-decoration-none" mat-stroked-button routerLink="./add">
    <i class="material-icons icon-add">add</i>
    <span>Add New Joke</span>
  </a>

  <a class="text-decoration-none" mat-stroked-button (click)="playRandomJokes()">
    <i class="material-icons icon-play">play_arrow</i>
    <span>Play Jokes</span>
  </a>
</div>


<table mat-table [dataSource]="dataSource" class="table-theme">

  <!-- Position Column -->
  <ng-container matColumnDef="joke" >
    <th mat-header-cell *matHeaderCellDef> Joke </th>
    <td mat-cell *matCellDef="let element">
      <span style="margin-right: 10px; font-weight: 600">{{ element.joke.content }}</span>
      <span style="color: grey; font-weight: 600">{{ element.joke.category }}</span>
      <p class="m-0" *ngIf="element.joke.punchline">{{ element.joke.punchline }}</p>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="flags">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" *ngFor="let item of element.flags">{{ item }}</i>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <div class="actions">
        <i class="material-icons icon-edit" style="">edit</i>
        <i class="material-icons icon-play" style="">play_arrow</i>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
