:host ::ng-deep {
  mat-form-field {
    width: 100%;
  }

  .mat-checkbox-layout {
    margin-bottom: 0;
  }

  .mat-card-actions {
    display: flex;
    .button {
      &-back, &-save {
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
      }
      &-back {
        margin-right: 10px;
      }
      &-save {
        background-color: #4373f5;
        color: #fff;
      }
    }
  }
}

.card-container {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.resize-none {
  resize: none;
}

.checkbox-container {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px 0 30px 0;
  flex-wrap: wrap;
  //height: 60px;
  //margin-bottom: 10px;

  mat-label {
    margin-right: 20px;
    font-size: 15px;
  }

  .mat-checkbox {
    margin-right: 20px;
  }
}

