.actions {
  display: flex;
  align-items: center;

  .icon {
    &-edit,
    &-play {
      font-size: 17px;
      padding: 2px;
      border-radius: 50%;
      &:hover {
        color: #fff;
      }
    }

    &-edit {
      border: solid 1px #437ff5;
      color: #437ff5;
      margin-right: 7px;
      &:hover {
        background-color: #437ff5;
      }
    }

    &-play {
      border: solid 1px #fa5252;
      color: #ff0000;
      &:hover {
        background-color: #fa5252;
      }
    }
  }
}
