:host ::ng-deep {
  .mat-card-actions {
    display: flex;
    .button {
      &-back, &-save {
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
      }
      &-back {
        margin-right: 10px;
      }
      &-save {
        background-color: #4373f5;
        color: #fff;
      }
    }
  }
}

.player-container {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
}

.icons {
  i {
    cursor: pointer;
  }
}
