.table-theme {
  background-color: transparent;
  border-spacing: 0 5px !important;
  border-collapse: separate;
  width: 100%;

  tr.mat-header-row {
    height: 45px;
  }
  tr.mat-row {
    min-height: 40px;
  }

  thead tr th.mat-header-cell,
  tbody tr td.mat-cell {
    font-size: 14px;

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }
  }

  tbody tr td.mat-cell {
    &:first-of-type {
      padding: 10px 0 10px 15px !important;
    }

    &:last-of-type {
      padding: 10px 15px 10px 0 !important;
    }
  }

  thead {
    background-color: #3E84CC;
    tr th.mat-header-cell {
      //font-weight: 400;
      &:first-of-type {
        width: 70%;
        //border-radius: 10px 0 0 10px;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:last-of-type {
        width: 10%;
        //border-radius: 0 10px 10px 0;
      }
    }
  }

  thead tr th.mat-header-cell {
    font-weight: 600;
    color: #fff;
  }

  tbody tr td.mat-cell {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: none;
    background-color: #f7f9fc;
    font-weight: 500;
  }
}



